# Third party
node_modules
**/node_modules

# Logs
logs
*.log
*.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build products
/build
.docusaurus
__generated__
dist
fixtures

# Testing
coverage

# misc
.idea
.DS_Store
.github
.vscode
*.pem

# Temp
.temp
temp

# Uploads
uploads/

# Cache
.cache/
.module-cache
.cache-loader

# Yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.yarn/releases
.pnp.*
