# Third party
node_modules
**/node_modules

# Logs
logs
*.log
*.log*

# Build products
__generated__
dist
fixtures

# Testing
coverage

# misc
.idea
.DS_Store
.github
.vscode
*.pem

# Temp
.temp
temp

# Uploads
uploads/
